.form-editar-profile {
    border: 1px solid var(--border-color-modal);
    border-radius: 12px;
    position: relative
}

.profile-picture-container {
    margin: auto;
}

.editarFotoPerfil {
    background-color: var(--color-accent);
    color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 10px;
    right: 5px;
    & svg > path{
        color: white !important;
    }
}

.inputTelefone-disabled,
.inputTelefone-disabled>input {
    pointer-events: none !important;
    background-color: var(--background-inputs-disabled) !important;
    border-color: var(--background-inputs-disabled) !important;
    color: var(--font-color-disabled) !important;
    transition: all 0.5s ease-in-out !important;
}

.inputTelefone {
    background-color: var(--background-inputs);
    border-color: var(--borderColor-input) !important;

}